body {
  margin: 0;
}

#root {
  padding: 3rem;
  text-align: center;
}

#root h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #317ae8;
}

#root canvas {
  display: block;
  margin: 0 auto;
}
