html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    background-color: #575959;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 40px;
    box-sizing: border-box;
}

.header {
    position: relative;
    padding: 20px 0;
}

h1 {
    position: relative;
    z-index: 100000;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
}

.header::before {
    position: absolute;
    top: -870px;
    left: -330px;
    display: block;
    content: "";
    width: 1000px;
    height: 1000px;
    background-color: #ff0000;
    border-radius: 50%;
}

.lbl {
    align-self: start;
    font-size: 12px;
    font-weight: 700;
}

textarea {
    resize: none;
}

p {
    padding: 0;
    margin: 0;
}



.blocks {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.blocks:last-child {
    margin-bottom: 0;
}

#btn {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    transition: all 400ms ease;
}

#btn:hover {
    background-color: #de0b0b;
    cursor: pointer;
}