html {
  line-height: 1.15; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gentium Book Basic';
  src: url("../fonts/GentiumBookBasic/GentiumBookBasic-Bold.woff2") format("woff2"), url("../fonts/GentiumBookBasic/GentiumBookBasic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Yeseva One';
  src: url("../fonts/YesevaOne/YesevaOne-Regular.woff2") format("woff2"), url("../fonts/YesevaOne/YesevaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  min-width: 320px;
  max-width: 1920;
  font-size: 10px;
  color: #4c4c4c;
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-image: url(../img/main-bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0; }

.wrapper {
  min-width: 320px;
  max-width: 1600px;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 2px #0a0a0a;
          box-shadow: 0 0 10px 2px #0a0a0a; }

.header {
  width: 100%;
  max-height: 1067px;
  background-color: #333;
  background-image: url(../img/header/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 145px; }

.logo {
  font-size: 3.6rem;
  font-family: "Yeseva One", serif;
  font-weight: normal;
  font-style: normal;
  color: #f1f1f1;
  padding: 0;
  margin: 0; }

.toggle {
  display: none; }

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  .nav ul li {
    display: inline-block;
    margin-right: 10px; }
    .nav ul li:last-child {
      margin-right: 0; }
  .nav ul a,
  .nav ul a:hover,
  .nav ul a:active,
  .nav ul a:visited {
    display: block;
    font-size: 2.1rem;
    font-family: "Gentium Book Basic", serif;
    font-weight: bold;
    font-style: normal;
    color: #f1f1f1;
    padding: 36px 15px;
    border-top: 4px solid rgba(241, 241, 241, 0);
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .nav ul a:hover {
    color: #e4e4e4;
    text-shadow: 2px 2px 5px #000;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px); }
  .nav ul .nav_active a {
    color: #dab33e;
    text-shadow: 2px 2px 5px #000;
    border-top: 4px solid #dab33e;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; }
  .social li {
    display: inline-block;
    margin-left: 8px; }
  .social a,
  .social a:hover,
  .social a:active,
  .social a:visited {
    display: block;
    font-size: 2.1rem;
    color: #dab33e;
    padding: 5px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .social a:hover {
    color: #ab8821; }

.header__text {
  position: relative;
  display: block;
  font-size: 8.6rem;
  font-family: "Yeseva One", serif;
  font-weight: normal;
  font-style: normal;
  color: #f1f1f1;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  padding: 0;
  margin: 120px 0 105px 0; }
  .header__text::after {
    position: absolute;
    bottom: -70px;
    left: -webkit-calc(50% - 115px);
    left: calc(50% - 115px);
    display: block;
    width: 230px;
    height: 45px;
    content: "";
    background-image: url(../img/header/decoration.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; }

.btn {
  display: block;
  font-size: 1.8rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #f1f1f1;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 20px 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.header__btn_black {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  margin-left: auto;
  margin-right: 0; }
  .header__btn_black:hover, .header__btn_black:focus {
    background-color: rgba(0, 0, 0, 0.6); }

.header__btn_white {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff; }
  .header__btn_white:hover, .header__btn_white:focus {
    background-color: rgba(255, 255, 255, 0.3); }

.about {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/about/pattern.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0 40px 0; }

.about__wrapper {
  width: 100%;
  height: 100%;
  text-align: center; }
  .about__wrapper h2 {
    margin-top: 25px; }

.about__wrapper-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section__name {
  position: relative;
  font-size: 3.6rem;
  font-family: "Yeseva One", serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0; }

.section__name_orange {
  color: #dab33e; }
  .section__name_orange::after {
    position: absolute;
    bottom: -40px;
    left: -webkit-calc(50% - 125px);
    left: calc(50% - 125px);
    display: block;
    width: 250px;
    height: 25px;
    content: "";
    background-image: url(../img/divider.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; }

.about__text {
  line-height: 24px;
  color: #4c4c4c;
  padding: 0;
  margin: 65px 65px 45px 65px; }

.about__img-cook {
  display: inline-block;
  width: 219px;
  height: auto;
  margin-left: 60px; }

.about__img-dish {
  display: inline-block;
  width: 100%;
  height: auto; }

.ingredients {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/ingredients/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0 65px 0; }

.ingredients__wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 70px;
  text-align: center; }

.section__name_white {
  color: #f1f1f1; }
  .section__name_white::after {
    position: absolute;
    bottom: -40px;
    left: -webkit-calc(50% - 125px);
    left: calc(50% - 125px);
    display: block;
    width: 250px;
    height: 25px;
    content: "";
    background-image: url(../img/divider_white.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; }

.ingredients__text {
  line-height: 24px;
  color: #f1f1f1;
  padding: 0;
  margin: 65px 0; }

.ingredients__img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  margin-right: 30px; }
  .ingredients__img:last-child {
    margin-right: 0; }

.menu {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/menu/pattern.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0 30px 0; }

.menu__wrapper {
  margin: 65px 65px 0 65px;
  text-align: center; }

.menu__item {
  margin-top: 60px;
  text-align: left; }
  .menu__item h3 {
    font-size: 2.1rem;
    font-family: "Yeseva One", serif;
    font-weight: normal;
    font-style: normal;
    color: #dab33e;
    border-bottom: 1px solid #dab33e;
    padding-bottom: 15px;
    margin: 0 0 15px 0; }
    .menu__item h3 span {
      float: right; }
  .menu__item p {
    padding: 0;
    margin: 0 0 10px 0; }

.menu__dish {
  padding: 10px;
  margin-bottom: 25px; }

.menu__dish_special {
  position: relative;
  border: 1px solid #dab33e; }
  .menu__dish_special::before {
    position: absolute;
    top: -22px;
    right: -1px;
    display: block;
    width: 70px;
    height: 22px;
    content: "Special";
    color: #f1f1f1;
    background-color: #dab33e;
    font-size: 1.4rem;
    padding: 3px 14px 2px 14px; }

.reviews {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/reviews/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0 65px 0; }

.reviews__wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 70px;
  text-align: center; }

.reviews__text {
  display: block;
  font-size: 2.5rem;
  line-height: 40px;
  font-family: "Gentium Book Basic", serif;
  font-weight: bold;
  font-style: normal;
  color: #f1f1f1;
  padding: 0;
  margin: 65px 0 0 0; }
  .reviews__text span {
    display: inline-block;
    font-size: 1.8rem;
    font-family: Lato, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-top: 20px; }

.reservations {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/about/pattern.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0 65px 0; }

.reservations__img-cook {
  width: 100%;
  height: auto; }

.reservations__wrapper {
  position: relative;
  height: 100%;
  padding: 0 70px;
  text-align: center; }

.reservations__text {
  margin-top: 65px; }
  .reservations__text p {
    line-height: 24px; }

.form {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%; }
  .form .form__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px; }
  .form label {
    display: block;
    width: 185px;
    font-weight: bold;
    color: #dab33e;
    text-align: left; }
  .form .form__input {
    display: inline-block;
    width: 180px;
    height: 36px;
    padding: 7px 8px 8px 8px;
    margin-top: 5px;
    border: 1px solid light(#4c4c4c, 20%);
    outline: none; }
    .form .form__input:focus {
      border: 1px solid #dab33e;
      background-color: #fff; }
  .form .form__btn {
    color: #f1f1f1;
    background-color: #dab33e;
    border: none;
    padding: 10px 60px;
    margin-top: 25px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .form .form__btn:hover, .form .form__btn:focus {
      background-color: #c09925;
      outline: none; }

.footer {
  width: 100%;
  background-color: #191919;
  padding: 65px 0 0 0; }

.footer__item {
  color: #f1f1f1;
  text-align: center;
  padding-bottom: 65px; }
  .footer__item h3 {
    position: relative;
    font-size: 2.1rem;
    font-family: "Yeseva One", serif;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0; }
    .footer__item h3::after {
      position: absolute;
      bottom: -40px;
      left: -webkit-calc(50% - 100px);
      left: calc(50% - 100px);
      display: block;
      width: 200px;
      height: 25px;
      content: "";
      background-image: url(../img/divider_white.svg);
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat; }
  .footer__item p {
    line-height: 24px;
    margin-top: 65px; }

.footer__icon {
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer__icon li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px; }
    .footer__icon li:last-child {
      margin-right: 0; }
  .footer__icon a,
  .footer__icon a:hover,
  .footer__icon a:active,
  .footer__icon a:visited {
    color: #f1f1f1; }
  .footer__icon a:hover {
    color: #cbcbcb; }

/*==========  Retina  ==========*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-resolution: 1.25dppx) {
  html,
  body {
    background-image: url(../img/main-bg@1.25x.jpg); }
  .header {
    background-image: url(../img/header/bg@1,25x.jpg); }
  .about {
    background-image: url(../img/about/pattern@1.25x.jpg); }
  .ingredients {
    background-image: url(../img/ingredients/bg@1.25x.jpg); }
  .menu {
    background-image: url(../img/menu/pattern@1.25x.jpg); }
  .reviews {
    background-image: url(../img/reviews/bg@1.25x.jpg); }
  .reservations {
    background-image: url(../img/about/pattern@1.25x.jpg); } }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-resolution: 1.5dppx) {
  html,
  body {
    background-image: url(../img/main-bg@1.5x.jpg); }
  .header {
    background-image: url(../img/header/bg@1,5x.jpg); }
  .about {
    background-image: url(../img/about/pattern@1.5x.jpg); }
  .ingredients {
    background-image: url(../img/ingredients/bg@1.5x.jpg); }
  .menu {
    background-image: url(../img/menu/pattern@1.5x.jpg); }
  .reviews {
    background-image: url(../img/reviews/bg@1.5x.jpg); }
  .reservations {
    background-image: url(../img/about/pattern@1.5x.jpg); } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 2dppx) {
  html,
  body {
    background-image: url(../img/main-bg@2x.jpg); }
  .header {
    background-image: url(../img/header/bg@2x.jpg); }
  .about {
    background-image: url(../img/about/pattern@2x.jpg); }
  .ingredients {
    background-image: url(../img/ingredients/bg@2x.jpg); }
  .menu {
    background-image: url(../img/menu/pattern@2x.jpg); }
  .reviews {
    background-image: url(../img/reviews/bg@2x.jpg); }
  .reservations {
    background-image: url(../img/about/pattern@2x.jpg); } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .logo {
    font-size: 3rem; }
  .nav ul li {
    margin-right: 0; }
  .nav ul a,
  .nav ul a:hover,
  .nav ul a:active,
  .nav ul a:visited {
    font-size: 1.8rem;
    font-family: "Gentium Book Basic", serif;
    padding: 25px 15px; }
  .social a,
  .social a:hover,
  .social a:active,
  .social a:visited {
    font-size: 1.8rem; }
  .header__text {
    font-size: 6rem; }
  .btn {
    font-size: 1.6rem;
    padding: 20px 40px; }
  .about {
    padding: 40px 0 40px 0; }
  .section__name {
    margin-top: 0px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .logo {
    margin: 10px 0 10px 0; }
  .toggle {
    position: relative;
    z-index: 100;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 0; }
    .toggle span {
      position: absolute;
      top: -webkit-calc(50% - 1px);
      top: calc(50% - 1px);
      display: block;
      width: 100%;
      height: 2px;
      background-color: #dab33e;
      border-radius: 10px; }
      .toggle span::before {
        content: "";
        position: absolute;
        top: -webkit-calc(50% - 1px);
        top: calc(50% - 1px);
        display: block;
        width: 100%;
        height: 2px;
        background-color: #dab33e;
        border-radius: 10px;
        -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
                transform: translateY(-8px);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .toggle span::after {
        content: "";
        position: absolute;
        top: -webkit-calc(50% - 1px);
        top: calc(50% - 1px);
        display: block;
        width: 80%;
        height: 2px;
        background-color: #dab33e;
        border-radius: 10px;
        -webkit-transform: translateY(8px);
            -ms-transform: translateY(8px);
                transform: translateY(8px);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
  .toggle_active {
    position: fixed;
    top: 15px; }
    .toggle_active span {
      height: 0; }
    .toggle_active span::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .toggle_active span::after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      width: 100%; }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    display: block;
    width: 320px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 40px 0 0 0;
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    .nav ul {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .nav ul li {
        display: block;
        width: 100%;
        margin-right: 0px; }
        .nav ul li:last-child {
          margin-right: 0; }
      .nav ul a,
      .nav ul a:hover,
      .nav ul a:active,
      .nav ul a:visited {
        padding: 15px 15px;
        border-top: none; }
      .nav ul a:hover {
        color: #dab33e;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
      .nav ul .nav_active a {
        color: #dab33e;
        border-top: none;
        background-color: black; }
  .nav_closed {
    display: none; }
  .nav-right {
    -webkit-animation-name: fadeOutRight;
            animation-name: fadeOutRight; }
  .social {
    margin-right: 40%; }
  .section__name {
    font-size: 3rem; }
  .about__text {
    margin: 65px 0px 45px 0px; }
  .about__img-cook {
    display: inline-block;
    width: 150px;
    height: auto;
    margin-left: 40px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .about__img-dish {
    display: none; }
  .ingredients__img {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.1);
    margin-right: 10px; }
    .ingredients__img:last-child {
      margin-right: 0; }
  .reviews__text {
    font-size: 1.8rem;
    line-height: 1.4; }
  .reservations__wrapper {
    padding: 0 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .social {
    display: none; }
  .header__text {
    font-size: 3.5rem; }
  .btn {
    font-size: 1.2rem;
    padding: 12px 10px; }
  .ingredients__wrapper {
    padding: 30px 15px; }
  .menu__wrapper {
    margin: 65px 20px 0 20px; }
  .menu__item {
    margin-top: 60px;
    text-align: left; }
    .menu__item h3 {
      font-size: 2.1rem;
      font-family: "Yeseva One", serif;
      font-weight: normal;
      font-style: normal;
      color: #dab33e;
      border-bottom: 1px solid #dab33e;
      padding-bottom: 15px;
      margin: 0 0 15px 0; }
      .menu__item h3 span {
        float: none;
        display: block;
        color: #4c4c4c; }
    .menu__item p {
      padding: 0;
      margin: 0 0 10px 0; }
  .reviews__wrapper {
    padding: 70px 20px 70px 20px; } }

/* Custom, iPhone Retina */
